<%-include('include/_header')%>

<main id="site-main">
    <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i>Front Page</a>
    </div>
    <div class="form-title">
        <h2>Add New Team</h2>
        <span>Use the below form to add a new team</span>
    </div>
        <!--form handeling-->
        <form  method="POST" id="new_team" action="/">
            <div class="new_team_info">
                <div class="form-group">
                    <label for="team_name">Team Name</label>
                    <input type="text" name="team_name" placeholder = "The Goats">
                </div>
                <div class="form-group">
                    <label for="team_GM">GM Name</label>
                    <input type="text" name="team_GM" placeholder = "John Smith">
                </div>
            </div>
            <table class="add_team">
                <tr>
                    <td class="QB_title" id="title">QB:</td>
                    <td><input class="QB_input" id="input" name="QB"></input></td>
                </tr>
                <tr>
                    <td class="RB1_title" id="title">RB1:</td>
                    <td><input class="RB1_input" id="input" name="RB1"></input></td>
                </tr>
                <tr>
                    <td class="RB2_title" id="title">RB2:</td>
                    <td><input class="RB2_input" id="input" name="RB2"></input></td>
                </tr>
                <tr>
                    <td class="Flex_title" id="title">Flex:</td>
                    <td><input class="flex_input" id="input" name="Flex"></input></td>
                </tr>
                <tr>
                    <td class="WR1_title" id="title">WR1:</td>
                    <td><input class="WR1_input" id="input" name="WR1"></input></td>
                </tr>
                <tr>
                    <td class="WR2_title" id="title">WR2:</td>
                    <td><input class="WR2_input" id="input" name="WR2"></input></td>
                </tr>
                <tr>
                    <td class="TE_title" id="title">TE:</td>
                    <td><input class="TE_input" id="input" name="TE"></input></td>
                </tr>
                <tr>
                    <td class="Defense_title" id="title">Defense:</td>
                    <td><input class="Defense_input" id="input" name="Defense"></input></td>
                </tr>
                <tr>
                    <td class="Kicker_title" id="title">Kicker:</td>
                    <td><input class="Kicker_input" id="input" name="Kicker"></input></td>
                </tr>
            </table>
            <button class="save_team">Save Team</button>
            </form>
    </main>


<%-include('include/_footer')%>